.css-1oqqzyl-MuiContainer-root {
    max-width: 1340px;
}
.ant-picker.css-dev-only-do-not-override-htwhyh {
    height: 58px;
    margin-top: 1px;
    width: 250px;

}

.css-nv9mhc-MuiTableCell-root{
    padding: 0px 3px 0px 3px;
}